*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
/*.header{
	height: 200px;
	background: #074d69;
    background: linear-gradient(90deg, rgba(7, 77, 105, 1) 0%, rgba(40, 61, 69, 1) 25%, rgba(212, 245, 255, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(179, 209, 218, 1) 55%, rgba(38, 59, 64, 1) 75%, rgba(7, 77, 105, 1) 100%);
}
.elem{
	text-align: center;
	font-size: 50px;
	width: 150px;
	height: 150px;
	background: #074d69;
    background: linear-gradient(90deg, rgba(7, 77, 105, 1) 0%, rgba(40, 61, 69, 1) 25%, rgba(212, 245, 255, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(179, 209, 218, 1) 55%, rgba(38, 59, 64, 1) 75%, rgba(7, 77, 105, 1) 100%);
}
.flex-box{
	display: flex;
	flex-wrap: wrap;
	gap:10px 5px;
	flex-direction: row;

	width: 700px;
	height: 1000px;

	border: 5px solid black;
	margin: 20px auto;
	justify-content: space-between;
	align-items: flex-end;

}*/
.header{
	height: 100px;
	display: flex;
	background: #020024;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 74%, rgba(255, 255, 255, 1) 99%);
	justify-content: center;
	gap: 25px;
	align-items: center;
	border-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

}
.logo, .actionBar, .nav, .logo a{
	height: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
}
.nav{
        justify-content: space-around;
        gap: 25px;
}

.header img{
	height: 50px;
}

.container{
	width: 95%;
	margin: 20px auto;
	border-radius: 15px;
}
.hero{
	background: url("images/images4.jfif");
	background-repeat: no-repeat;
	background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        padding: 100px 0;
        text-transform: capitalize;
}
.heroButton{
	color: white;
	font-size: 30px;
	font-weight: 900;
	background-color: darkblue;
	padding: 25px 100px;
	border: 2px solid black;
	border-radius: 15px;

}
.categories{
	background: #020024;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 74%, rgba(255, 255, 255, 1) 99%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
}
.category{
	background: url("images/images4.jfif");
	background-repeat: no-repeat;
	background-position: center;
        background-size: cover;
        display: flex;
        align-items: baseline;
        justify-content: center;
        height: 250px;
        width: 250px;
        margin: 25px 0px;
        border-radius: 15px;
        border: 2px colid white;
        box-shadow:-webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 43px -8px 10px -13px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 43px -8px 10px -13px rgba(0,0,0,0);
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 20px;

}

.product{
	background: darkcyan;
	grid-row: 1/4;
        grid-column: 1/3;
        display: flex;
}
.preview, .info{
	width: 50%;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.preview{
	
	background: red;
}
.preview img{
	width: 100%;
	filter: grayscale(100%);
	transition: .4s;
 
}
.buttons{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.buttons a{
	width: 20%;
	text-align: center;
	margin: 5px;
}
.buttons a img{
	width: 100%;
}
.info{
	
	background: green;
}
.ad{
        background: gold;
        grid-row: 1/3;
        grid-column: 3/4;
}
.also{
	background: green;
	grid-row: 3/4;
        grid-column: 3/4;
}



.smile{
	position: absolute;
}

.shape{
	width: 200px;
	height: 200px;
	position: relative;
	background: yellow;
	border-radius: 100%;
	transition: 0.4s;
}

.eyes{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 4;
}

.eye{
	background: black;
	height: 100%;
	width: 25%;
	border-radius: 50%;
}

.mouth{
	position: absolute;
	background: red;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	height: 50%;
	border-radius: 100%;
}

.hider{
	height: 50%;
	background: yellow;
}

.tooth{
	position: absolute;
	background: white;
	height: 10%;
	width: 100%;
	top: 50%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
/*hover active visited*/
.shape:hover{
	height: 500px;
	width: 500px;
}

.shape:active{
	background: blue;
} 

.preview>img:hover{
	filter: grayscale(0%);
	filter: opacity(.6);
	filter: hue-rotate(129deg);
	filter: drop-shadow(16px 16px 20px blue);
}
.nav a{
	transition: .4s;
}
.nav a:hover{
	font-size: 2em;
	
}
.actionBara a img:hover{
	transition: .4s;
}
/*.smailkva{
	position: absolute;
	border-radius: 20%;
	background: white;
	width: 200px;
	height: 200px;
	top: 800px;
	
}
.cricle{
	background: yellow;
	border-radius: 50%;
	z-index: 5;
	left: 100px;
	top: 800px;
}


.eye1{
	position: absolute;
	background: black;
	border-radius: 70%;
	height: 40px;
	width: 35px;
	top: 40px;
	left: 40px;
	z-index: 4;
*/
}
body{
	height: 2000px;
}







