*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
/*.header{
	height: 200px;
	background: #074d69;
    background: linear-gradient(90deg, rgba(7, 77, 105, 1) 0%, rgba(40, 61, 69, 1) 25%, rgba(212, 245, 255, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(179, 209, 218, 1) 55%, rgba(38, 59, 64, 1) 75%, rgba(7, 77, 105, 1) 100%);
}
.elem{
	text-align: center;
	font-size: 50px;
	width: 150px;
	height: 150px;
	background: #074d69;
    background: linear-gradient(90deg, rgba(7, 77, 105, 1) 0%, rgba(40, 61, 69, 1) 25%, rgba(212, 245, 255, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(179, 209, 218, 1) 55%, rgba(38, 59, 64, 1) 75%, rgba(7, 77, 105, 1) 100%);
}
.flex-box{
	display: flex;
	flex-wrap: wrap;
	gap:10px 5px;
	flex-direction: row;

	width: 700px;
	height: 1000px;

	border: 5px solid black;
	margin: 20px auto;
	justify-content: space-between;
	align-items: flex-end;

}*/
.header{
	height: 100px;
	display: flex;
	background: #074d69;
	justify-content: center;
	gap: 25px;
	align-items: center;
}

.naw{
        display: flex;
        justify-content: space-around;
        gap: 25px;
}

